h1, h2 {
    margin-left: 50px;
}

label{
    display: inline-block;
    width:200px;
    text-align: right;
}

input[type = "text"],
select{
    width:200px;
}

input[id = "calculate"],
select{
    margin-left: 203px;
    width:94px;
}


input[id = "reset"],
select{
    width:94px;
}

span{
    color:red;
    font-weight: bold;
}

span.spaces{
    color:red;
    font-weight: bold;
}