/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    width: 95%;                             /* fixed width was 900 */
    max-width: 1024px;
		height:auto;                      /* add max-width */
    margin: 0 auto;
    padding: 0;
    border: 3px solid steelblue;            /* 4 / 16 */
    box-shadow: 0 .625em 1.25em .625em;     /* 10 / 16; 20 / 16 */
}

form{


}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

p{
	float:none;
}

h3{
	padding-bottom: 17px;
}

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover, a:focus {
    color: maroon;
}

footer a{
	color:black;
}

footer a:hover, footer a:focus{
	color:white;
}

/* the styles for the header */
header {
    background-image: -webkit-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: -moz-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: -o-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    padding: 15px 3.3333%;              /* 30 / 900 * 100 */
    border-bottom: 2px solid steelblue;
}
header img {
	float: left;
    width: 15.5555%;                        /* 140 / 990 * 100 */
    max-width: 140px;                       /* native size */
    min-width: 70px;
}
header h2 {
	font-size: 250%;
	font-style: italic;
	color: steelblue;
	text-indent: 5%;                        /* 45 / 900 *100 */
	text-shadow: 3px 3px 3px steelblue;
    margin-bottom: .3em;
}
header h3 {
	font-size: 150%;
    text-indent: 5%;
    padding-bottom: .75em;
}

/* the styles for the navigation menu */
#nav_menu {
	clear: left;
    border-bottom: 2px solid steelblue;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 20%;                             /* 5 items each 20% of menu */
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	background-color: steelblue;
	color: white;
}
#nav_menu ul li a.current {
	color: black;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: lightsteelblue;
}
#nav_menu ul li:hover ul {
	width: 100%;
}

/* the styles for the section */
section {
    width: 62.7777%;                        /* 565 / 900 X 100 */
    float: right;
    padding: 1.5625em 3.3333%;              /* 20 / 16; 30 / 900 x 100 */
}
section h1 {
    font-size: 160%;
    margin-bottom: .3em;
}
section h2 {
    font-size: 130%;
    margin-bottom: .5em;
}
section h3 {
    color: maroon;
    font-size: 110%;
    margin-bottom: .4em;
}
section p {
    font-size: 100%;
    margin-bottom: .7em;
}

/* the styles for the sidebar */
aside {
    float: left;
    width: 27.2222%;                        /* 245 / 900 x 100 */
    padding: 1.5625em 0 0 3.3333%;          /* 25 / 16; 30 / 900 x 100  */
}
aside h2 {
	font-size: 130%;
    color: maroon;
    margin-bottom: .4em;                    /* 8 / (1.3 x 16)*/
}
aside ul {
    line-height: 1.5;
    margin: 0;
    padding-left: 1em;                      /* 16 / 16 */
}
aside a:link, aside a:visited {
    color: steelblue
}
aside a:hover, aside a:focus {
    color: maroon;
}


/* the styles for the footer */
footer {
	clear: both;
	padding: .9375em 3.3333%;               /* 15 / 16; 30 / 900 * 100 */
    background-color: steelblue;
}
footer p {
	text-align: center;
    font-size: 85%;
    color: black;
}
#mobile_menu {
	display: none;
}

#iconFix{
	float:none;
	margin-bottom: 5px;
}

table{
	border-collapse: collapse;
	float:right;
	width:65%;
}

thead td{
	text-align: center;
	font-size: 150%;
}

tr th{
	color: black;
	padding: .2em .1em;
	text-align: left;


}


td{
	padding:.2em .1em;
	text-align: left;
}

#tableTop{
	color:maroon;
}

.clearFix{
	clear: both;
}

/* media queries */
@media only screen and (max-width: 900px) {
	body {
		font-size: 90%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none;
	}

    /* change background and decrease padding */
    .slicknav_menu {
        background: steelblue !important;
	    padding: 3px !important;
    }

    #mobile_menu {
		display: block;
	}
    #mobile_menu ul {
        background-color: steelblue;
    }
    #mobile_menu a {
        background-color: steelblue;
    }
    #mobile_menu a:hover, #mobile_menu a:focus {
        color: lightsteelblue;
    }
	header h2 {
		font-size: 200%;
	}
	section {
		float: none;
        width: 93.3334%;
	}
	aside {
		float: none;
		width: 93.3334%;
        padding-top: 0;
        padding-bottom: 1.5625em;
	}
}

@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 115%;
	}
    section p {
	    font-size: 95%;
    }
}

}
