body{
  width:1000px;
  height:auto;
  margin:auto;
}

header{
  width:auto;
  height:100px;
  background-color: rgb(255, 0, 0);
  border-bottom: 5px solid white;
}

main section{
  width:1000px;
  height:200px;
  background-color: rgb(0,0,255);
  border-bottom: 5px solid white;
}

aside{
  height:200px
}

.aside01{
  width:330px;
  background-color: rgb(0, 255, 0);
  float:left;
  border-right: 5px solid white;
}

.aside02{
  width:330px;
  border-right: 5px solid white;
  background-color: rgb(0, 255, 255);
  float:left;
}

.aside03{
  width:330px;
  background-color: rgb(255, 0, 255);
  float:left;
}

footer{
  width:auto;
  height:100px;
  background-color: rgb(105, 0, 0);
  border-top: 5px solid white;
}

.clearFix{
  clear:both;
}
