body{
  width:1000px;
  height:auto;
  margin:auto;
}

header{
  width:auto;
  height:100px;
  background-color: rgb(255, 255, 0);
  border-bottom: 5px solid white;
}

#section01{
  height:50px;
  width:auto;
  background-color: rgb(0,255,255);
  border-bottom: 5px solid white;
}

#section02{
  height:300px;
  width:auto;
  background-color: rgb(255,0,255);
  border-bottom: 5px solid white;
}

footer{
  width:auto;
  height:100px;
  background-color: rgb(255, 0, 0);
  border-bottom: 5px solid white;
}
