body{
  width:1000px;
  height:auto;
  margin:auto;
}

header{
  width:auto;
  height:100px;
  background-color: rgb(255, 255, 0);
  border-bottom: 5px solid white;
}

aside{
  height:500px;
  width:200px;
  background-color: rgb(255,0,255);
  float:left;
  border-right:5px solid white;
}

section{
  height:500px;
  width: auto;
  background-color: rgb(0,255,255);
  float left;
}

footer{
  width:auto;
  height:100px;
  background-color: rgb(105, 0, 0);
  border-top: 5px solid white;
}
